@{
    string session = ViewBag.Session;
    int year = (int)ViewBag.Year;
    bool automnCheck = session == "Automne";
}
<form action="/Students/SetYear" method="post">
    <label for="year">Année</label>
    <input type="number" min="1990"
           max="@DateTime.Now.Year"
           value="@year"
           class="form-control"
           name="year" id="year" />

    <fieldset>
        <legend>Session</legend>
        <input type="radio" name="session" value="Automne" id="session_automne" class="" @(automnCheck ? "checked" : "") />
        <label for="session_automne">Automne</label>
        <input type="radio" name="session" value="Hiver" id="session_hiver" class="" @(!automnCheck ? "checked" : "") />
        <label for="session_hiver">Hiver</label>
    </fieldset>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
