@model IEnumerable<JsonDemo.Models.Login>
@{
    int currentDay = 0;
    var loggedUsersId = (List<int>)ViewBag.LoggedUsersId;

    foreach (var login in Model)
    {
        var shiftedLoginDate = login.LoginDate.AddHours((int)Session["TimeZoneOffset"]);
        var shiftedLogoutDate = login.LogoutDate.AddHours((int)Session["TimeZoneOffset"]);

        if (shiftedLoginDate.Day != currentDay)
        {
            currentDay = shiftedLoginDate.Day;
            object param = new { day = login.LoginDate.ToShortDateString().Trim() };
            <hr />
            <div style="display:grid; grid-template-columns:80px 30px; align-items:center">
                @shiftedLoginDate.ToShortDateString()
                @Helper.IconConfirmCmdWithParam("Accounts", "DeleteJournalDay", param, "fa-times-rectangle-o", "Effacer la journée du " + shiftedLoginDate.ToShortDateString())
            </div>
            <hr />
        }
        <div class="loginJournalLayout">
            <div>
                @Helper.AvatarUser(login.User, "UserSmallAvatar")
            </div>
            <div>
                @shiftedLoginDate.ToShortTimeString()
            </div>

            @if (shiftedLoginDate != shiftedLogoutDate)
            {
                <div>&nbsp;-&nbsp;@shiftedLogoutDate.ToShortTimeString()</div>
            }
            else
            {
                if (loggedUsersId.Contains(login.User.Id))
                {
                    loggedUsersId.Remove(login.User.Id);
                    <div title="Est en ligne en ce moment">&nbsp;-&nbsp; @Helper.OnLineStatusIcon(true, false)</div>
                }
                else
                {
                    <div>&nbsp;-&nbsp; @Helper.TimeOutIcon()</div>
                }
            }

            @if (true && login.IpAddress != "::1" && login.CountryCode != null)
            {

                <div>
                    @Helper.CountryFlag(login.CountryCode.ToLower())
                </div>
                <div class="IPadress">
                    @login.IpAddress <br />
                    @login.City,  @login.RegionName
                </div>
            }
            else
            {
                <div>&nbsp;</div>
            }

        </div>
    }
}
